.cell {
  position: relative;
  width: 100px;
  height: 100px;
}
.cell.completed {
  background-color: #fff;
  background-opacity: 0.9;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10px;
  left: -10px;
}

.row {
  display: flex;
}

.line {
  background-color: #bbb;
  position: absolute;
}

.line.top {
  width: 80px;
  height: 20px;
  top: -10px;
  left: 10px;
}

.line.left {
  width: 20px;
  height: 80px;
  left: -10px;
  top: 10px;
}

.line.bottom {
  width: 80px;
  height: 20px;
  bottom: -10px;
  right: 10px;
}

.line.right {
  width: 20px;
  height: 80px;
  right: -10px;
  bottom: 10px;
}

.line.player1 {
  background-color: #ff0000;
}

.line.player2 {
  background-color: #0000ff;
}
