:root {
  --dot-size: 20px;
  --dot-color: #c0c0c0;
  --line-size: calc(var(--dot-size) * 4);
  --cell-size: calc(var(--line-size) + var(--dot-size) * 2);
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: calc(-1 * var(--dot-size) / 2);
  left: calc(-1 * var(--dot-size) / 2);
}

.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
}

.cell.completed::after {
  content: '';
  position: absolute;
  height: var(--line-size);
  width: var(--line-size);
  display: inline-block;
  top: var(--dot-size);
  left: var(--dot-size);
}

.row {
  display: flex;
}

.line {
  position: absolute;
}
.line:not(.completed):hover {
  background-color: #c0c0c055;
  cursor: pointer;
}

.line.top {
  width: var(--line-size);
  height: var(--dot-size);
  top: calc(-1 * var(--dot-size) / 2);
  left: var(--dot-size);
}

.line.left {
  width: var(--dot-size);
  height: var(--line-size);
  left: calc(-1 * var(--dot-size) / 2);
  top: var(--dot-size);
}

.line.bottom {
  width: var(--line-size);
  height: var(--dot-size);
  bottom: calc(-1 * var(--dot-size) / 2);
  right: var(--dot-size);
}

.line.right {
  width: var(--dot-size);
  height: var(--line-size);
  right: calc(-1 * var(--dot-size) / 2);
  bottom: var(--dot-size);
}

.line.right::before {
  content: '';
  position: absolute;
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  top: calc(-1 * (var(--dot-size) + var(--dot-size) / 2));
  left: 0;
}

.line.bottom::before {
  content: '';
  position: absolute;
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  top: 0;
  left: calc(-1 * (var(--dot-size) + var(--dot-size) / 2));
}

.line.bottom::after {
  content: '';
  position: absolute;
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  top: 0;
  right: calc(-1 * (var(--dot-size) + var(--dot-size) / 2));
}

.player-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.game-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.score {
  position: relative;
}

.score::after {
  content: '';
  position: absolute;
  height: var(--line-size);
  width: var(--line-size);
  display: inline-block;
  top: calc(var(--line-size) + 16px);
  left: 50%;
  transform: translateX(-50%);
}

.bold {
  font-weight: bold;
}

.result-label {
  margin: 0;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
