:root {
  --dot-size: 20px;
  --dot-color: #bbb;
  --line-size: calc(var(--dot-size) * 4);
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: calc(-1 * var(--dot-size) / 2);
  left: calc(-1 * var(--dot-size) / 2);
}

.cell {
  position: relative;
  width: calc(var(--dot-size) * 6);
  height: calc(var(--dot-size) * 6);
}

.row {
  display: flex;
}

.line {
  background-color: var(--dot-color);
  position: absolute;
}

.line.top {
  width: var(--line-size);
  height: var(--dot-size);
  top: calc(-1 * var(--dot-size) / 2);
  left: var(--dot-size);
}

.line.left {
  width: var(--dot-size);
  height: var(--line-size);
  left: calc(-1 * var(--dot-size) / 2);
  top: var(--dot-size);
}

.line.bottom {
  width: var(--line-size);
  height: var(--dot-size);
  bottom: calc(-1 * var(--dot-size) / 2);
  right: var(--dot-size);
}

.line.right {
  width: var(--dot-size);
  height: var(--line-size);
  right: calc(-1 * var(--dot-size) / 2);
  bottom: var(--dot-size);
}

.line.right::before {
  content: '';
  position: absolute;
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  top: calc(-1 * (var(--dot-size) + var(--dot-size) / 2));
  left: 0;
}

.line.bottom::before {
  content: '';
  position: absolute;
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  top: 0;
  left: calc(-1 * (var(--dot-size) + var(--dot-size) / 2));
}

.line.bottom::after {
  content: '';
  position: absolute;
  height: var(--dot-size);
  width: var(--dot-size);
  background-color: var(--dot-color);
  border-radius: 50%;
  display: inline-block;
  top: 0;
  right: calc(-1 * (var(--dot-size) + var(--dot-size) / 2));
}
